extends ../layouts/default

block intro
	h1 Contact
	//- p.lead This is an example contact form, demonstrating how to process forms and save data with Keystone.
	//- p.lead Please follow us for updates to the demo site.
		
		
block content
	if enquirySubmitted
		h3 Thanks for getting in touch.
		if user
			p Head over to the <a href='/keystone/enquiries'>admin ui</a> to see your enquiry.
		else
			p If you'd like to see your enquiry in the admin ui, <a href='/keystone/signin'>sign in</a> with the username 
				code demo@keystonejs.com
				|  and the password 
				code demo
				|  and go to the enquiries list.
	
	else
		form(method='post')
			input(type='hidden', name='action', value='contact')
			.form-group(class=validationErrors.name ? 'has-error' : null)
				label Name
				input(type='text', name='name.full', value=formData['name.full'], required).form-control
			.form-group(class=validationErrors.email ? 'has-error' : null)
				label Email
				input(type='email', name='email', value=formData.email, required).form-control
			.form-group
				label Phone
				input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
			.form-group(class=validationErrors.enquiryType ? 'has-error' : null, required)
				label What are you contacting us about?
				select(name='enquiryType').form-control
					option(value='') (select one)
					each type in enquiryTypes
						option(value=type.value, selected=formData.enquiryType == type.value)= type.label
			.form-group(class=validationErrors.message ? 'has-error' : null)
				label Message
				textarea(name='message', placeholder='Leave us a message...' rows=4, required).form-control= formData.message
			.form-actions
				p.help-block (note that others can see your enquiry in the <a href='/keystone/enquiries'>admin ui</a>)
				button(type='submit').btn.btn-primary Send
