extends ../layouts/default

block css
	style.
		#gallery-modal .modal-dialog { width: 920px; }
				
block content
	.container
		
		h1 Gallery
		
		p.lead This is an example image gallery, demonstrating how you can use images with Keystone and Cloudinary.
		
		p.lead Please follow us for updates to the demo site.
		p: a(href="https://twitter.com/keystonejs", class="twitter-follow-button", data-show-count="false", data-size="large") Follow @keystonejs
		script.
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		
		if galleries
			
			each gallery in galleries
				h2= gallery.name
					.pull-right.text-muted= gallery._.publishedDate.format('Do MM YYYY')
				
				.row.gallery-images
					if gallery.heroImage.exists
						.col-sm-4.col-md-4.gallery-image: img(src=gallery._.heroImage.limit(680,680)).img-rounded
						.col-sm-8.col-md-8: .row
							each image in gallery.images
								.col-xs-4.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300)).img-rounded
					else
						each image in gallery.images
							.col-xs-6.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300)).img-rounded
						
			
		else
			.jumbotron: .container: h2.text-muted There are no image galleries in the database.


block page-js
	script(src='/js/lib/bootstrap/modal.js')
	script(src='/js/lib/bootstrap/carousel.js')