extends ../layouts/default

include ../mixins/commenting

block content
	p: a(href='/blog').text-muted &larr; back to the blog
	hr
	article
		if !data.post
			h2 Invalid Post.
		else
			header
				h1= data.post.title
			//- hr
			.post
				if data.post.image.exists
					.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					hr
				h5.text-muted Posted 
					if data.post.publishedDate
						| on 
						time(datetime=data.post.publishedDate)=data.post._.publishedDate.format('MMMM Do, YYYY')
					if data.post.categories && data.post.categories.length
						| in 
						each cat, cat_i in data.post.categories
							a(href='/blog/' + cat.key)= cat.name
							if cat_i < data.post.categories.length - 1
								| , 
							else
								|  
					if data.post.author
						| by #{data.post.author.name.first}
				!= data.post.content.full
		//-comments
		#comments.details-panel-footer
			+comment-form()
			+comment-thread(comments)


block page-js
	script.
		jQuery(function($) {
			
			var comments = $('#comments');
			var input = $('.comment-field-input');
			var submit = comments.find('button[type=submit]');

			
			// Scroll to comments and focus input field
			function scrollToComments(e) {
				
				e.preventDefault();
				
				$('html, body').animate({ scrollTop: comments.offset().top }, 250);
				
				input.eq(0).focus();
			}
			$('[href="#comments"]').click( scrollToComments );
			
			
			
			// Check if field has content: enable/disable submit. Disable by default
			submit.attr('disabled','disabled');
			input.keyup(function() {
				if ($.trim($(this).val())) {
					submit.removeAttr('disabled');
				} else {
					submit.attr('disabled','disabled');
				}
			});
		});