include ../mixins/flash-messages

doctype html
html
	head
		if env == 'production'
			script.
				var _sf_startpt=(new Date()).getTime()
		
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title= title || 'Keystone Demo'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		
		block css
		block head
	body: #demo-wrapper
		
		//- header
		header(role='banner')#demo-nav
			nav.navbar.navbar-default.navbar-static-top: .container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Keystone Demo
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav
						each link in navLinks
							li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
					ul.nav.navbar-nav.pull-right
						if user
							li: a(href='/keystone') Open Keystone
						else
							li: a(href='/keystone/signin') Sign In
		
		//- body
		#demo-body
			//- intro
			block intro
			//- messages
			+flash-messages(messages)
			//- content
			block content
		//- footer
		#demo-footer: .container
			p Copyright &copy; 2013 Jed Watson. All rights reserved.

		//- scripts
		script(src='/js/lib/jquery/jquery-1.10.2.min.js')
		script(src='/js/lib/bootstrap/collapse.js')
		script(src='/js/lib/bootstrap/dropdown.js')
			
		block page-js
		
		if env == 'production'
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', '#{ga_property}', '#{ga_domain}');
				ga('send', 'pageview');
		
		if env == 'production'
			script.
				var _sf_async_config = { uid: #{chartbeat_property}, domain: '#{chartbeat_domain}', useCanonical: true };
				(function() {
					function loadChartbeat() {
						window._sf_endpt = (new Date()).getTime();
						var e = document.createElement('script');
						e.setAttribute('language', 'javascript');
						e.setAttribute('type', 'text/javascript');
						e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
						document.body.appendChild(e);
					};
					var oldonload = window.onload;
					window.onload = (typeof window.onload != 'function') ?
					loadChartbeat : function() { oldonload(); loadChartbeat(); };
				})();
